<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="http://www.cs.binghamton.edu/~gbejara1/index.html">Home</a></li>
	        		<li><a href="https://www.linkedin.com/in/gissella-bejarano-3789b01a">Linkedin</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gbejara1@binghamton.edu">email</a></li>
	        		<li><a href="https://github.com/gissemari">github.com/gissemari</a></li>
				</ul>
			</footer>
		</body>
	</html>
